[data-fos-theme="dark"] {
    --files-region-fs-bc: #303233;
    --primary-color: #0572ce;
    --editor-border-color: #47484a;
    --editor-toolbar-bc: #353638;
    --editor-toolbar-button-bc-hover: #3b3d3f;
    --editor-toolbar-button-bc-focus: #3b3d3f;
    --editor-toolbar-button-bc-active: #47484a;
    --editor-toolbar-button-c: #c0c1c3;
}

[data-fos-theme="light"] {
    --files-region-fs-bc: #fff;
    --primary-color: #0572ce;
    --editor-border-color: #e0e0e0;
    --editor-toolbar-bc: #f9f9f9;
    --editor-toolbar-button-bc-hover: #fff;
    --editor-toolbar-button-bc-focus: #fff;
    --editor-toolbar-button-bc-active: #e0e0e0;
    --editor-toolbar-button-c: #404040;
}

[data-fos-theme="dark-redwood"] {
    --files-region-fs-bc: #312d2a;
    --primary-color: #377e55;
    --editor-border-color: #403c38;
    --editor-toolbar-bc: #211e1c;
    --editor-toolbar-button-bc-hover: #56504b;
    --editor-toolbar-button-bc-focus: #56504b;
    --editor-toolbar-button-bc-active: #312d2a;
    --editor-toolbar-button-c: #c0c1c3;
}

[data-fos-theme="light-redwood"] {
    --files-region-fs-bc: #fcfbfa;
    --primary-color: #377e55;
    --editor-border-color: #e6e3e0;
    --editor-toolbar-bc: #f1efed;
    --editor-toolbar-button-bc-hover: #fcfbfa;
    --editor-toolbar-button-bc-focus: #fcfbfa;
    --editor-toolbar-button-bc-active: #f1efed;
    --editor-toolbar-button-c: #444;
}

/* Files Region */
#fos-files-region{
    min-height: 60px;
}

/* Golden Layout */
#fos-files-layout{
    height: 600px;
    padding: 8px;
    border-top: 1px solid var(--editor-border-color);
}

.fos-region-fullscreen#fos-files-region,
.fos-region-fullscreen#SOURCE,
.fos-region-fullscreen#PROC,
.fos-region-fullscreen#SRC,
.fos-region-fullscreen#editorDlg-codeEditor,
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER,
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER,
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER, 
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER,
.fos-region-fullscreen#P4050_LIST_QUERY_CONTAINER {
    background-color: var(--files-region-fs-bc);
}

.lm_header .lm_tab.lm_active{
    background-color: var(--editor-toolbar-bc);
}

.lm_header .lm_tab{
    box-shadow: none !important;
}

.lm_goldenlayout {
    background: transparent !important;
    border-bottom: 1px solid var(--editor-border-color);
}

#fos-files-layout .lm_tab{
    border: 1px solid var(--editor-border-color);
    border-bottom: none;
}

.lm_selected .lm_header {
    background-color: transparent !important;
}

/* Code Editor*/

.fos-code-editor-toolbar{
    height: 40px;
    border: 1px solid var(--editor-border-color);
    border-bottom: none;
    background-color: var(--editor-toolbar-bc);
}

.fos-code-editor-toolbar-button{
    margin: 4px;
    text-shadow: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--editor-toolbar-button-c);
}

.fos-code-editor-toolbar-button:focus{
    background-color: var(--editor-toolbar-button-bc-focus);
    box-shadow: inset 0 0 0 1px var(--primary-color),0 1px 2px rgba(0,0,0,.1)!important;
}

.fos-code-editor-toolbar-button:hover{
    background-color: var(--editor-toolbar-button-bc-hover);
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.2), 0 1px 4px rgba(0,0,0,.1);
}

.fos-code-editor-toolbar-button:active, .fos-code-editor-toolbar-button:focus:active{
    background-color: var(--editor-toolbar-button-bc-active);
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1), inset 0 2px 1px rgba(0,0,0,.15);
}

.fos-code-editor-toolbar-button .fa.fam-blank::after{
    color: var(--primary-color);
    background-color: var(--primary-color);
}

.fos-code-editor{
    border: 1px solid var(--editor-border-color);
    height: 540px;
    width: 100%;
}

.fos-region-fullscreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1999;
    border: none !important; /* makes dark mode look nicer */
}

.fos-body-region-maximized .a-EditScreen-header,
.fos-body-region-maximized .ui-resizable-handle,
.fos-body-region-maximized .a-IRR-region,
.fos-body-region-maximized .a-Header{
    z-index: 1 !important;
}

.fos-region-fullscreen #fos-files-layout{
    height: calc(100vh - 42px);
}

.fos-region-fullscreen .fos-code-editor{
    height: 100%;
}


/* class meant to be added to the body element to avoid scrolling when in fullscreen mode */
.fos-body-region-maximized{
    overflow: hidden;
}

/* Font APEX additions */

.fos-fa-rotate-45{
    transform: rotate(45deg);
}

#FOS_STATIC_FILE_SELECTOR{
    max-width: 200px;
}

/* there is a discrepancy between gl dark and gl light. this makes it the same */
#fos-files-layout .lm_content{
    border: none;
}

/* fixing some css on pages 40/312 */
.a-IRR-toolbar{
    border-top-width: 1px;
    border-top-style: solid;
}

/* fixes checkbox style on APEX <20.2 */
#fos-files-region .apex-item-group--rc {
    vertical-align: middle;
}

/* toolbar fix  */
.fos-region-fullscreen .a-CodeEditor-toolbar,
.fos-region-fullscreen .a-MonacoEditor-toolbar {
    opacity: 1!important;
}

/* ******************************* */
/* height of the editor containers */
/* ******************************* */
/* plugin PL/SQL editor fullscreen */
.fos-region-fullscreen#SOURCE .a-Region-body,
.fos-region-fullscreen#SOURCE .a-Form-inputContainer,
/* application process */
.fos-region-fullscreen#PROC .a-Form-inputContainer,
.fos-region-fullscreen#PROC .a-Region-body,
/* dynamic lov */
.fos-region-fullscreen#SRC .a-Region-body,
/* email template */
/* -> header */
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER .a-Form-inputContainer,
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER .a-Region-body,
/* -> body */
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER .a-Form-inputContainer,
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER .a-Region-body, 
/* -> footer */
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER .a-Form-inputContainer,
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER .a-Region-body, 
/* -> content */
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER .a-Form-inputContainer,
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER .a-Region-body {
    height: 95%;
}

/* ******************************* */
/* hide the resize handler         */
/* ******************************* */
/* plugin PL/SQL */
.fos-region-fullscreen#SOURCE .ui-resizable-handle.ui-resizable-s,
/* application process */
.fos-region-fullscreen #F4000_P4309_PROCESS_SQL_CONTAINER .ui-resizable-handle.ui-resizable-s,
/* dynamic lov */
.fos-region-fullscreen #P4111_LOV_QUERY_SQL_CONTAINER .ui-resizable-handle.ui-resizable-s,
.fos-region-fullscreen #P4111_SOURCE_TYPE_CONTAINER,
/* email template */
/* -> header */
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER .ui-resizable-handle.ui-resizable-s,
/* -> body */
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER .ui-resizable-handle.ui-resizable-s,
/* -> footer */
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER .ui-resizable-handle.ui-resizable-s,
/* -> content */
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER .ui-resizable-handle.ui-resizable-s,
/* dynamic list */
.fos-region-fullscreen#P4050_LIST_QUERY_CONTAINER .ui-resizable-handle.ui-resizable-s,
.fos-region-fullscreen#P4050_LIST_QUERY_CONTAINER .a-Form-labelContainer {
    display: none;
}

/* editor height */
/* plugin PL/SQL */
.fos-region-fullscreen#SOURCE .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #P4410_PLSQL_CODE_CONTAINER,
.fos-region-fullscreen#SOURCE #P4410_PLSQL_CODE_widget,
.fos-region-fullscreen#SOURCE .a-Region--noPadding,
/* authetication process */
.fos-region-fullscreen#SOURCE #P4495_PLSQL_CODE_CONTAINER,
.fos-region-fullscreen#SOURCE,
.fos-region-fullscreen #P4495_PLSQL_CODE_widget,
/* application process */
.fos-region-fullscreen#PROC .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #F4000_P4309_PROCESS_SQL_CONTAINER,
/* dynamic lov */
.fos-region-fullscreen#SRC .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen#SRC .a-Region--noPadding,
.fos-region-fullscreen#SRC #P4111_LOV_QUERY_SQL_CONTAINER,
.fos-region-fullscreen#SRC,
/* email template */
/* -> header */
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #F4000_P4861_HTML_HEADER_widget,
/* -> body */
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #F4000_P4861_HTML_BODY_widget,
/* -> footer */
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #F4000_P4861_HTML_FOOTER_widget,
/* -> content */
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #F4000_P4861_TEXT_TEMPLATE_widget,
/* page designer */
.fos-region-fullscreen#editorDlg-codeEditor,
/* dynamic list  */
.fos-region-fullscreen#P4050_LIST_QUERY_CONTAINER .a-CodeEditor--resizeWrapper.ui-resizable,
.fos-region-fullscreen #P4050_LIST_QUERY_widget
{
    height: 100%!important;
}

.fos-region-fullscreen#SRC .a-Form-inputContainer,
.fos-region-fullscreen #P4111_LOV_QUERY_SQL_widget,
.fos-region-fullscreen #F4000_P4309_PROCESS_SQL_widget,
.fos-region-fullscreen#editorDlg-codeEditor .CodeMirror.cm-s-default,
.fos-region-fullscreen#SRC .CodeMirror.cm-s-default,
.fos-region-fullscreen#PROC .CodeMirror.cm-s-default,
.fos-region-fullscreen#SOURCE .CodeMirror.cm-s-default,
.fos-region-fullscreen#F4000_P4861_HTML_HEADER_CONTAINER .CodeMirror.cm-s-default,
.fos-region-fullscreen#F4000_P4861_HTML_BODY_CONTAINER .CodeMirror.cm-s-default,
.fos-region-fullscreen#F4000_P4861_HTML_FOOTER_CONTAINER .CodeMirror.cm-s-default,
.fos-region-fullscreen#F4000_P4861_TEXT_TEMPLATE_CONTAINER .CodeMirror.cm-s-default {
    height: 94%!important;
}

.a-AlertMessages--page {
    z-index: 905!important;
}

.a-CodeEditor-toolbar button.fos-save-button {
    margin-top: 0!important;
}
